// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: #g5g5gb;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}